# Identificador único del alumno.
student_id = "aldo"

# Debe ser diferente para cada alumno que use la misma cuenta AWS.
aws_region = "us-east-1"

dynamodb_hash_key = "id"

log_retention_in_days = 14

tags = {
  Environment = "dev"
  ManagedBy   = "terraform"
  Owner       = "aldo"
  CostCenter  = "training"
}
